
.board {
  background-color: rgb(254, 102, 236);
  border: 6px solid rgb(255, 5, 218);
  border-radius: 5%;
  margin-top: -20px; 
  width: 720px;
  height:625px; 
  display: grid;
  grid-template-columns: repeat(5, 120px); 
  grid-template-rows: repeat(4, 120px); 
  gap: 12px; 
}

.turns {
  background-color: rgb(255, 138, 226);
  color: white;
  border: 2px dashed rgb(255, 255, 255);
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  height: 20px; 
  width: 64px; 
  font-size: 14px; 
  font-weight: 600;
  font-family: inherit;
  margin-top: 30px; 
  margin-left: 440px; 
}
