.board {
    border: 6px solid rgb(203, 39, 249);
    border-radius: 5%;
    background-color: blue;
    width: 800px;
    height: 660px;
    padding: 10px;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, auto); 
}