.backCard {
    border: 2px solid rgb(248, 98, 206);
    border-radius: 10%;
    background-color: rgb(244, 42, 230);
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;
    border-radius:10%
}